<p id="notice"><%= notice %></p>

<h2>
  <%= @restaurant.name %>
</h2>
<h3><%= @restaurant.location %></h3>

<%= image_tag @restaurant.image_url , {height:200}%>

<p>  
  <%= @restaurant.content %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
